.header {
		height: 550px;
	}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
	.body {
		padding-top: 30px;
		padding-bottom: 15px;
		width: 100vw;
		overflow-x: hidden;
	}

	.below {
		background:#42bddf;
	}

	.below2 {
		background:#ff2a41;
	}
		.below3 {
		background:#f8a933;
	}
			.below4 {
		background:#435897;
	}
			.below5 {
		background:#1d2951;
		padding-top: 30px;
		padding-bottom: 15px;
	}


.container {
  padding: 0 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  font-size: 20px;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}
li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
	h1{
		font-size: 27px;
		text-align: center;
		font-family: "Benton Sans";
	}
		h2{
		font-size: 27px;
		text-align: center;
		font-family: "Benton Sans";
	}
	p{
		font-size: 20px;
		line-height: 1.1;
		text-align: center;
		font-family: "Benton Sans";
	}

